page-map {
  .toolbar-ios ion-title{
    padding: 0;
  }
  #map {
    height: 100%;
  }

  .marker {
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toolbar-title-md {
    background: #f3f3f3;
    padding: 10px;
    font-size: 12px;
  }
}
