
:root {
  --tooltip-color: #9df2a4; // seafoam
  --tooltip-arrow-color: #463E53; // blackcurrant
  --tooltip-background-color: #463E53; // blackcurrant
  --tooltip-font-size: 16px;
  --tooltip-font-weight: 500;
  --tooltip-font-style: normal;
  --tooltip-font-family: "Helvetica Neue", Helvetica, sans-serif;
  --tooltip-box-shadow: 2px 2px 5px grey;
  --tooltip-border-radius: 5px;
  --tooltip-text-align: center;
  --tooltip-padding: 5px;
}
