page-promo {
  div{
    margin: 25% auto;
    width: 320px;
    height: 420px;
    position: relative;


    .close {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 5px;
      background: transparent;
    }

    .no-show {
      width: 200px;
      text-align: right;
      padding-right: 10px;
      height: 40px;
      position: absolute;
      bottom: 11PX;
      right: 11px;
      background: transparent;
      font-size: 20px;
      color: #000000;
    }

    .comprobar{
      width: 100%;
      position: absolute;
      bottom: 15%;
      height: 50px;
      left: 0;
      background: transparent;
    }
  }
}
