<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ user.name }}</ion-title>
        <ion-buttons end>
            <button class="disable-hover" (click)="goAyuda()" ion-button block clear>
                <ion-icon name="help-circle"></ion-icon>
                {{'HELP' | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content  padding-top="5px">
    <hr class="bg-hr">
    <ion-segment class="segment-hr" [(ngModel)]="tabs">
        <ion-segment-button value="profile">
            {{'BASIC_PROFILE' | translate}}
        </ion-segment-button>
        <ion-segment-button value="ridehistroy" (click)="getTrips()">
            {{'HISTORY' | translate}}
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="tabs">
        <div *ngSwitchCase="'profile'" padding>
            <div style="text-align:center">
                <img src="{{ user.photoURL }}" style="width:50px;height:50px;border-radius:100px"
                     (click)="chooseFile()">
                <form ngNoForm>
                    <input id="avatar" name="file" type="file" (change)="upload()">
                </form>
                <h3>{{user.name}}</h3>
            </div>
            <ion-list>
                <ion-item>
                    <ion-label stacked color="primary">{{'FULLNAME' | translate}}</ion-label>
                    <ion-input type="text" [(ngModel)]="user.name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked color="primary">{{'PHONE_NUMBER' | translate}}</ion-label>
                    <ion-input type="text" [(ngModel)]="user.phoneNumber" [disabled]="user.isPhoneVerified"></ion-input>
                </ion-item>
                <ion-item>
                    <button ion-button item-right clear *ngIf="!user.isEmailVerified" (click)="verifyEmail()">{{'VERIFY'
                        | translate}}
                    </button>
                    <ion-label stacked color="primary">{{'EMAIL_ADDRESS' | translate}}</ion-label>
                    <ion-input type="text" [(ngModel)]="user.email" disabled></ion-input>
                </ion-item>
                <ion-item>
                    <button ion-button block (click)="save()">{{'SAVE' | translate}}</button>
                </ion-item>
                <ion-item style="text-align: center">
                <button ion-button (click)="logout()">
                    <ion-icon name="log-out"></ion-icon>
                    Cerrar sesión
                </button>
            </ion-item>
            </ion-list>
        </div>

        <div *ngSwitchCase="'ridehistroy'">
            <ion-card *ngFor="let trip of trips">
                <ion-card-content>
                    <ion-row>
                        <ion-col>
                            <p>ID: {{ trip.createdAt }}</p>
                        </ion-col>
                        <ion-col>
                            <h1 style="color: #8BC34A; font-weight: 600;">{{trip.currency}} {{ trip.trip.price|number
                                }}</h1>
                            <p>Puntos ganados: {{trip.trip.points_generated}}</p>
                            <!--<p>Promo: {{ trip.promo}}</p>-->
                            <!--<p>descuento: {{trip.discount}}</p>-->
                        </ion-col>
                    </ion-row>
                    <ion-item>
                        <h2>Desde ({{ trip.pickedUpAt | date: 'medium'}})</h2>
                        <p>{{ trip.origin.vicinity }}</p>
                    </ion-item>
                    <ion-item>
                        <h2>Hacia ({{ trip.droppedOffAt | date: 'medium'}})</h2>
                        <p>{{ trip.destination.vicinity }}</p>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>